.hero {
  position: relative;
  height: 60vh; /* Hero size set to 55vh as requested */
  overflow: hidden;
}

.carousel {
  /* height: 100%; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

.carousel-slides {
  display: flex;
  
  width: 500%; 
  height: 100%;
  animation: slide 15s infinite; /* 5s per image */
}

.carousel-slides img {
  width: 100%;
  object-fit:contain; /* Background images cover fit as requested */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20%);
  }
  45% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(-40%);
  }
  70% {
    transform: translateX(-40%);
  }
  75% {
    transform: translateX(-60%);
  }
  95% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-80%);
  }
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  max-width: 800px;
  
  text-align:left;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
  font-weight:800;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-button {
  padding: 15px 30px;

  width:10vw;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.cta-button:hover{
  background-color: #e65b50;
  font-size: large;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .cta-button {
    padding: 12px 25px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .hero {
    min-height: 50vh;
  }

  .hero-content h1 {
    font-size: 28px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .cta-button {
    padding: 10px 20px;
  }
}