.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;

  }

  
  
  
  .form-section {
    width: 50%;
    display: flex;
    color: white;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0;
    width: 650px;
    
    background-color:#88858545;
  }
  
  .form-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
   
    color: black;
  }
  
  .form-section p {
    font-size: 1rem;
    
    color: black;
    margin-bottom: 30px;
  }
  
  .input-group1 {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    display: block;
  }
  
  .input-group1 .input-icon {
    position: absolute;
    
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #666;
  }
  
  .input-group1 input {
    width: 200%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    background-color: #f5f5f5;
    color: #333;
    margin-left: -50px;
  }
  
  .input-group1 input:focus {
    outline: none;
    border-color: #ff5733;
    background-color: #fff;
  }
  
  .input-group input::placeholder {
    color: #aaa;
  }
  
  .forget-password {
    width: 100%;
    max-width: 400px;
    text-align: right;
    margin-bottom: 20px;
  }
  
  .forget-password a {
    color: #ff5733;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .forget-password a:hover {
    text-decoration: underline;
  }
  
  .login-btn {
    width: 130%;
    max-width: 400px;
    padding: 10px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: -30px;
  }
  
  .login-btn:hover {
    background-color: #e04e2b;
  }
  
  .signup-link {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
  }
  
  .signup-link a {
    color: #ff5733;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  .illustration svg{
    position: absolute;
    top: 15px;
    right: 2vw;
    color:black;
  }